* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 5%;
    align-items: center;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
    transition: all 0.5s ease;
}

.header::before {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.header::after {
    content: '';
    top: 0;
    left: -100%;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
    transition: all 0.5s ease;
}

.header:hover::after {
    left: 100%;
}

.header.sticky {
    background: rgba(0, 0, 0, 0.5);
    padding: 5px 15%;
}

.logo {
    width: 50px;
}

.logo img {
    width: 100%;
    cursor: pointer;
    transition: all .5s ease;
}

.logo img:hover {
    scale: .9;
}

.navbar a:is(:visited, :link, :active) {
    text-decoration: none;
    color: black;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
}

.navbar a:is(:visited, :link, :active).active {
    background: rgba(255, 255, 255, 0.57);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.navbar a:hover {
    /* From https://css.glass */
    background: rgba(165, 114, 146, 0.48);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.2px);
    -webkit-backdrop-filter: blur(8.2px);
}

#menu {
    font-size: 25px;
    cursor: pointer;
    display: none;
}

.slider {
    position: relative;
    width: 100%;
}

.myslide {
    height: 900px;
    overflow: hidden;
    display: none
}

.prev,
.next {
    position: absolute;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%, 0);
    z-index: 1;
    font-size: 25px;
    transition: all 0.5s ease;
    filter: brightness(.6);
    color: gray;
}

.next {
    right: 0;
}

.prev:hover,
.next:hover {
    filter: brightness(1.3);
}

.dotsbox {
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
    bottom: 5%;
}

.dot {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: gray;
    display: inline-block;
    cursor: pointer;
}

.dot:hover,
.dot.active {
    background-color: blueviolet;
}

.text {
    position: absolute;
    color: #fff;
    line-height: 35px;
    top: 40%;
    left: 15%;
    -webkit-animation-name: posi;
    -webkit-animation-duration: 2s;
    animation-name: posi;
    animation-duration: 2s;
    z-index: 1;
}

@keyframes posi {
    from {
        left: 25%;
    }

    to {
        left: 15%;
    }
}

@keyframes txt {
    from {}
}

.text h1 {
    color: #00a7ff;
    /* blue */
    font-size: 50px;
    margin-bottom: 20px;
}

.myslide img {
    transform: scale(1.5, 1.5);
    -webkit-animation-name: zoomin;
    -webkit-animation-duration: 40s;
    animation-name: zoomin;
    animation-duration: 40s;
}

@-webkit-keyframes zoomin {
    from {
        transform: scale(1, 1);
    }

    to {
        transform: scale(1.5, 1.5);
    }
}


@keyframes zoomin {
    from {
        transform: scale(1, 1);
    }

    to {
        transform: scale(1.5, 1.5);
    }
}

.myslide img {
    transform: scale(1.5, 1.5);
    -webkit-animation-name: zoomin;
    -webkit-animation-duration: 40s;
    animation-name: zoomin;
    animation-duration: 40s;
}

@-webkit-keyframes zoomin {
    from {
        transform: scale(1, 1);
    }

    to {
        transform: scale(1.5, 1.5);
    }
}


@keyframes zoomin {
    from {
        transform: scale(1, 1);
    }

    to {
        transform: scale(1.5, 1.5);
    }
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.5
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: 0.5
    }

    to {
        opacity: 1
    }
}

.main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    text-align: center;
    height: 1000px;
    gap: 20px;
    margin: 35px 0;

}

.box:nth-child(1) {
    width: 20%;
    /* From https://css.glass */
    background: rgba(91, 67, 67, 0.52);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(91, 67, 67, 0.3);
}

.box:nth-child(2) {
    width: 42%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    padding: 20px;
    background: rgba(91, 67, 67, 0.52);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(91, 67, 67, 0.3);
}

.col1>img {
    width: 400px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    height: fit-content;
}

.txt {
    padding: 15px;
}

.col1 {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
    align-content: center;
}

.col1 h1 {
    margin-bottom: 30px;
}

.box:nth-child(3) {
    width: 33%;
    /* From https://css.glass */
    background: rgba(91, 67, 67, 0.52);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(91, 67, 67, 0.3);
    /* height: 1010px; */
}

.box iframe {
    width: 100%;
    height: 100%;
}

.slid {
    background-image: url(./image/main/1.jpg);
    width: 100%;
    height: 600px;
    background-position: center;
    background-size: cover;
    animation: pic 30s linear infinite;
    margin-top: 40px;
    border-radius: 10px;
    box-shadow:
}

@keyframes pic {
    0% {
        background-image: url(./image/main/1.jpg);
    }

    20% {
        background-image: url(./image/main/23.jpg);
    }

    40% {
        background-image: url(./image/main/29.jpg);
    }

    60% {
        background-image: url(./image/main/30.jpg);
    }

    80% {
        background-image: url(./image/main/33.jpg);
    }

    100% {
        background-image: url(./image/main/4.jpg);
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    line-height: 60px;
}

.container a {
    text-decoration: none;
    color: #000;
    font-size: 1.6rem;
    transition: all 0.5s ease;
}

.container a:hover {
    color: lightblue;
}

@media (max-width:1400px) {
    .myslide {
        height: fit-content;
    }
}

@media (max-width:800px) {
    .main {
        height: 1500px;
    }

    .box:nth-child(1),
    .box:nth-child(2),
    .box:nth-child(3) {
        width: 100%;
    }

    #menu {
        display: block;
        color: #fff;
    }

    .navbar {
        position: absolute;
        top: 100%;
        display: flex;
        flex-direction: column;
        width: 100%;
        background: rgba(161, 149, 149, 0.48);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(8.2px);
        -webkit-backdrop-filter: blur(8.2px);
        left: 100%;
        transition: all 0.5s ease;
    }

    .navbar a {
        background: rgba(165, 114, 146, 0.17);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(8.2px);
        -webkit-backdrop-filter: blur(8.2px);
        border: 1px solid rgba(165, 114, 146, 0.37);
    }
}

@media (max-width:600px) {
    .col1>img {
        width: 200px;
    }
    .slid{
        height: 300px;
    }
}