* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 5%;
    align-items: center;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
    transition: all 0.5s ease;
}

.header::before {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.header::after {
    content: '';
    top: 0;
    left: -100%;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
    transition: all 0.5s ease;
}

.header:hover::after {
    left: 100%;
}

.header.sticky {
    background: rgba(0, 0, 0, 0.5);
    padding: 5px 15%;
}

.logo {
    width: 50px;
}

.logo img {
    width: 100%;
    cursor: pointer;
    transition: all .5s ease;
}

.logo img:hover {
    scale: .9;
}

.navbar a:is(:visited, :link, :active) {
    text-decoration: none;
    color: black;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
}

.navbar a:is(:visited, :link, :active).active {
    background: rgba(255, 255, 255, 0.57);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.navbar a:hover {
    /* From https://css.glass */
    background: rgba(165, 114, 146, 0.48);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.2px);
    -webkit-backdrop-filter: blur(8.2px);
}

#menu {
    font-size: 25px;
    cursor: pointer;
    display: none;
}

.slider {
    position: relative;
    width: 100%;
}

.myslide {
    height: 900px;
    overflow: hidden;
    display: none
}

.prev,
.next {
    position: absolute;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%, 0);
    z-index: 1;
    font-size: 25px;
    transition: all 0.5s ease;
    filter: brightness(.6);
    color: gray;
}

.next {
    right: 0;
}

.prev:hover,
.next:hover {
    filter: brightness(1.3);
}

.dotsbox {
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
    bottom: 5%;
}

.dot {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: gray;
    display: inline-block;
    cursor: pointer;
}

.dot:hover,
.dot.active {
    background-color: blueviolet;
}

.text {
    position: absolute;
    color: #fff;
    line-height: 35px;
    top: 40%;
    left: 15%;
    -webkit-animation-name: posi;
    -webkit-animation-duration: 2s;
    animation-name: posi;
    animation-duration: 2s;
    z-index: 1;
}

@keyframes posi {
    from {
        left: 25%;
    }

    to {
        left: 15%;
    }
}

@keyframes txt {
    from {}
}

.text h1 {
    color: #00a7ff;
    /* blue */
    font-size: 50px;
    margin-bottom: 20px;
}

.myslide img {
    transform: scale(1.5, 1.5);
    -webkit-animation-name: zoomin;
    -webkit-animation-duration: 40s;
    animation-name: zoomin;
    animation-duration: 40s;
}

@-webkit-keyframes zoomin {
    from {
        transform: scale(1, 1);
    }

    to {
        transform: scale(1.5, 1.5);
    }
}


@keyframes zoomin {
    from {
        transform: scale(1, 1);
    }

    to {
        transform: scale(1.5, 1.5);
    }
}

.myslide img {
    transform: scale(1.5, 1.5);
    -webkit-animation-name: zoomin;
    -webkit-animation-duration: 40s;
    animation-name: zoomin;
    animation-duration: 40s;
}

@-webkit-keyframes zoomin {
    from {
        transform: scale(1, 1);
    }

    to {
        transform: scale(1.5, 1.5);
    }
}


@keyframes zoomin {
    from {
        transform: scale(1, 1);
    }

    to {
        transform: scale(1.5, 1.5);
    }
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.5
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: 0.5
    }

    to {
        opacity: 1
    }
}

.main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    text-align: center;
    height: 1000px;
    gap: 20px;
    margin: 35px 0;

}

.box:nth-child(1) {
    width: 20%;
    /* From https://css.glass */
    background: rgba(91, 67, 67, 0.52);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(91, 67, 67, 0.3);
}

.box:nth-child(2) {
    width: 42%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    padding: 20px;
    background: rgba(91, 67, 67, 0.52);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(91, 67, 67, 0.3);
}

.col1>img {
    width: 400px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    height: fit-content;
}

.txt {
    padding: 15px;
}

.col1 {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
    align-content: center;
}

.col1 h1 {
    margin-bottom: 30px;
}

.box:nth-child(3) {
    width: 33%;
    /* From https://css.glass */
    background: rgba(91, 67, 67, 0.52);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(91, 67, 67, 0.3);
    /* height: 1010px; */
}

.box iframe {
    width: 100%;
    height: 100%;
}

.slid {
    background-image: url(./image/main/1.jpg);
    width: 100%;
    height: 600px;
    background-position: center;
    background-size: cover;
    animation: pic 30s linear infinite;
    margin-top: 40px;
    border-radius: 10px;
}

@keyframes pic {
    0% {
        background-image: url(./image/main/1.jpg);
    }

    20% {
        background-image: url(./image/main/23.jpg);
    }

    40% {
        background-image: url(./image/main/29.jpg);
    }

    60% {
        background-image: url(./image/main/30.jpg);
    }

    80% {
        background-image: url(./image/main/33.jpg);
    }

    100% {
        background-image: url(./image/main/4.jpg);
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    line-height: 60px;
}

.container a {
    text-decoration: none;
    color: #000;
    font-size: 1.6rem;
    transition: all 0.5s ease;
}

.container a:hover {
    color: lightblue;
}

.master {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center ;
    gap: 15px;
    height: 750px;
    padding: 20px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='800' preserveAspectRatio='none' viewBox='0 0 1440 800'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1103%26quot%3b)' fill='none'%3e%3crect width='1440' height='800' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1104%26quot%3b)'%3e%3c/rect%3e%3cpath d='M262.2425447343062 82.00817538452452L100.23147950640629 195.449544530485 213.67284865236678 357.4606097583849 375.6839138802667 244.01924061242443z' fill='rgba(55%2c 6%2c 47%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M545.76 540.39 a164.23 164.23 0 1 0 328.46 0 a164.23 164.23 0 1 0 -328.46 0z' fill='rgba(55%2c 6%2c 47%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M664.6312710346633 762.3287662634488L891.5687610812518 794.222750539862 923.462745357665 567.2852604932735 696.5252553110765 535.3912762168603z' fill='rgba(55%2c 6%2c 47%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M807.264%2c700.783C845.962%2c703.003%2c888.377%2c699.21%2c910.489%2c667.374C935.344%2c631.59%2c938.301%2c582.395%2c915.111%2c545.511C893.08%2c510.471%2c848.632%2c501.83%2c807.264%2c503.193C768.707%2c504.464%2c729.686%2c518.449%2c711.062%2c552.234C692.951%2c585.09%2c702.307%2c625.109%2c722.7%2c656.599C741.229%2c685.21%2c773.233%2c698.83%2c807.264%2c700.783' fill='rgba(55%2c 6%2c 47%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M701.7143832892 793.6593355508381L750.5985253266765 623.1800725345718 580.1192623104101 574.2959304970952 531.2351202729336 744.7751935133616z' fill='rgba(55%2c 6%2c 47%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1235.4733494355028 412.6636154709189L1294.3798793177075 259.2068586357285 1082.0165926003124 353.75708558871406z' fill='rgba(55%2c 6%2c 47%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M607.7915322915924 885.4531019968005L807.5777460809312 892.4297903161671 814.5544344002979 692.6435765268282 614.768220610959 685.6668882074616z' fill='rgba(55%2c 6%2c 47%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M744.09 401.59 a144.81 144.81 0 1 0 289.62 0 a144.81 144.81 0 1 0 -289.62 0z' fill='rgba(55%2c 6%2c 47%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1165.193%2c358.178C1196.716%2c358.943%2c1227.122%2c344.789%2c1243.789%2c318.022C1261.444%2c289.667%2c1265.961%2c253.015%2c1248.34%2c224.639C1231.467%2c197.467%2c1197.178%2c191.398%2c1165.193%2c191.45C1133.326%2c191.502%2c1098.659%2c197.435%2c1082.51%2c224.907C1066.204%2c252.644%2c1075.978%2c287.019%2c1092.94%2c314.36C1108.856%2c340.014%2c1135.012%2c357.445%2c1165.193%2c358.178' fill='rgba(55%2c 6%2c 47%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M281.27 398.51 a192.71 192.71 0 1 0 385.42 0 a192.71 192.71 0 1 0 -385.42 0z' fill='rgba(55%2c 6%2c 47%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M757.95 454.71 a218.6 218.6 0 1 0 437.2 0 a218.6 218.6 0 1 0 -437.2 0z' fill='rgba(55%2c 6%2c 47%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M104.47059131027008 527.6118493523641L264.25697924422445 487.7726283672655 224.4177582591259 327.98624043331114 64.63137032517153 367.8254614184097z' fill='rgba(55%2c 6%2c 47%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M627.04 545.27 a152.67 152.67 0 1 0 305.34 0 a152.67 152.67 0 1 0 -305.34 0z' fill='rgba(55%2c 6%2c 47%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M816.51 584.63 a175.76 175.76 0 1 0 351.52 0 a175.76 175.76 0 1 0 -351.52 0z' fill='rgba(55%2c 6%2c 47%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1103'%3e%3crect width='1440' height='800' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='11.11%25' y1='-20%25' x2='88.89%25' y2='120%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1104'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(158%2c 115%2c 0%2c 0)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}

button {
    width: 350px;
    height: 400px;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    background: rgba(122, 117, 117, 0.41);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(122, 117, 117, 0.3);
    margin: auto;
    transition: all 0.3s ease;
}
button:hover{
    /* From https://css.glass */
background: rgba(210, 195, 195, 0.59);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2.2px);
-webkit-backdrop-filter: blur(2.2px);
border: 1px solid rgba(210, 195, 195, 0.44);
}

.modal {
    position: fixed;
    z-index: 1000;
    left: 100%;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* From https://css.glass */
    background: rgba(122, 117, 117, 0.46);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(122, 117, 117, 0.3);
    transition: all 0.5s ease;

}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.closed {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closed:hover,
.closed:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.full-screen-iframe {
    width: 100%;
    height: 100vh;
    border: none;

}




@media (max-width:1400px) {
    .myslide {
        height: fit-content;
    }
}

@media (max-width:800px) {
    .main {
        height: 1500px;
    }

    .box:nth-child(1),
    .box:nth-child(2),
    .box:nth-child(3) {
        width: 100%;
    }

    #menu {
        display: block;
        color: #fff;
    }

    .navbar {
        position: absolute;
        top: 100%;
        display: flex;
        flex-direction: column;
        width: 100%;
        background: rgba(161, 149, 149, 0.48);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(8.2px);
        -webkit-backdrop-filter: blur(8.2px);
        left: 100%;
        transition: all 0.5s ease;
    }

    .navbar a {
        background: rgba(165, 114, 146, 0.17);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(8.2px);
        -webkit-backdrop-filter: blur(8.2px);
        border: 1px solid rgba(165, 114, 146, 0.37);
    }

    .master {
        margin-top: 700px;
    }

    marquee>h1 {
        font-size: 2rem;
    }

    .iframe {
        margin: 0 auto;
    }
}

@media (max-width:600px) {
    .col1>img {
        width: 200px;
    }

    .slid {
        height: 300px;
    }

    .box:nth-child(3) {
        height: 510px;
    }
}